<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启注解的扫描-->
    <context:component-scan base-package="cn.itcast"></context:component-scan>

    <!--视图解析器对象 功能跳转页面-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--prefix 表示想要访问文件所在的目录-->
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <!--suffix 表示访问文件的后缀名-->
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--配置拦截器-->
<mvc:interceptors>
    <!--配置拦截器-->
    <mvc:interceptor>
        <!--需要拦截的具体的方法  user/下的都栏 /**所有方法都拦截-->
        <mvc:mapping path="/user/*"/>
        <!--不要拦截的方法
        <mvc:exclude-mapping path=""/>-->
        <!--配置拦截器对象-->
        <bean class="cn.itcast.controller.cn.itcast.interceptor.Myinterceptor1"></bean>
    </mvc:interceptor>

    <!--配置第二个拦截器-->
    <mvc:interceptor>
        <!--需要拦截的具体的方法  user/下的都栏 /**所有方法都拦截-->
        <mvc:mapping path="/**"/>
        <!--不要拦截的方法
        <mvc:exclude-mapping path=""/>-->
        <!--配置拦截器对象-->
        <bean class="cn.itcast.controller.cn.itcast.interceptor.Myinterceptor2"></bean>
    </mvc:interceptor>
</mvc:interceptors>
    <!--类型转化器必须在springMvc框架注解里面配置-->
    <!--开启SpringMvc框架注解的支持-->
    <mvc:annotation-driven ></mvc:annotation-driven>
</beans>